
.pagination-container {
    display: flex;
    align-items: center;
    color: #596de7;
    margin-top: 10px;
  }
  .pagination-container span {
    font-size: 12px;
    margin-right: 15px;
  }