.header-container {
  position: relative;
}


/* .header {
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  height: 65px;
  padding: 0;
  box-shadow: 0 10px 30px 0 rgb(82 63 105 / 5%);
} */

.header-container {
  position: relative;
}
.searchBox-input {
  background-color: #f5f8fa;
  border-color: #f5f8fa;
  color: #5e6278;
  transition: color 0.2s ease, background-color 0.2s ease;
}
.search-icon {
  position: absolute;
  left: 25px;
  color: #c2cfe0;
}

.form-control {
  display: block;
  width: 100%;
  padding-left: 3.25rem;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #181c32;
  background: rgba(194, 207, 224, 0.2);
  border-radius: 30px;
  background-clip: padding-box;
  border: 1px solid #e4e6ef;
  appearance: none;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control-solid {
  background: rgba(194, 207, 224, 0.2);
  border-color: #f5f8fa;
  color: #828282;
  transition: color 0.2s ease, background-color 0.2s ease;
}
.notify {
  width: 25px;
  height: 25px;
}
.notify-active {
  position: absolute;
  width: 9px;
  height: 9px;
  background: #f7685b;
  border: 1px solid #ffffff;
  right: 4px;
  border-radius: 30px;
  top: 3px;
}
.logout-btn {
  width: 90px;
  height: 30px;
  background: #eb5757;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
}
.logout-btn-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  margin-bottom: 3px;
}
.mob-searchbox {
  position: fixed;
  top: 50px;
  background: #fff;
  width: 100%;
  left: 0;
  z-index: 99999;
  padding: 15px;
}
